eclipse-workspace/.metadata/*
eclipse-workspace/.sonarlint
eclipse-workspace/JavaWorld/.settings/
eclipse-workspace/JavaWorld/bin/day1/
eclipse-workspace/JavaWorld/.classpath
eclipse-workspace/JavaWorld/.project
eclipse-workspace2/
eclipse-workspace3/
